<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.policeApp.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>report</servlet-name>
    <servlet-class>com.policeApp.servlets.CreateComplainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gotoSignUp</servlet-name>
    <servlet-class>com.policeApp.servlets.SignUpPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>case</servlet-name>
    <servlet-class>com.policeApp.servlets.CaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editUser</servlet-name>
    <servlet-class>com.policeApp.servlets.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>report</servlet-name>
    <url-pattern>/createReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gotoSignUp</servlet-name>
    <url-pattern>/signUpPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>case</servlet-name>
    <url-pattern>/caseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editUser</servlet-name>
    <url-pattern>/editProfile</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>